@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&display=swap);


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3 ease;
  display: flex;
  align-items: flex-start;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

main {
  max-width: 1200px;
}

h1, p {
  color: var(--text-color);
}

h1 {
  font-family: var(--thick-font-family);
  font-weight: var(--thick-font-weight);
  font-size: var(--thick-font-size);
  letter-spacing: var(--thick-font-letter-spacing);
}

h2 {
  font-family: var(--mono-font-family);
  font-weight: var(--thick-font-weight);
  font-size: var(--thick-font-size);
  letter-spacing: var(--thick-font-letter-spacing);
}

p, a {
  font-weight: var(--thin-font-weight);
  font-size: var(--thin-font-size);
  letter-spacing: var(--thin-font-letter-spacing);
  color: var(--text-color);
  text-decoration: none;
}

a {
  font-family: var(--mono-font-family);
  font-weight: var(--mono-font-weight);
  font-size: var(  --mono-font-size);
  letter-spacing: var(  --mono-font-letter-spacing);
  cursor: pointer;
  color: var(--text-color);
  transition: 50ms;
  filter: blur(0px);
}
