
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    /* Standardized site colors*/
    --grey-font-normal: #43484F;
    --grey-font-contact-info: #5C6168;
    --orange-details: #D67215;
    
    /* black and white fonts to toggle in dark/light mode */
    --background-color: var(--default-white);
    --background-color-transp: var(--default-white-transp);
    --text-color: var(--default-black);

    /* Background/text colors */
    --default-white: #FBFAFF;
    --default-grey: #9B9A9C;
    --default-black: #100c07;
    --default-black-transp: rgba(16, 12, 7, 0.95);
    --default-white-transp: rgba(251, 250, 255, 0.95);

    /* Base font size for each screen size */
    --small-screen: 14px;
    --medium-screen: 16px;
    --large-screen: 18px;
    --strd-text-margin: 0em;

    /* Fonts */
    --inter-font-family: 'Inter', Arial, Helvetica, sans-serif;
    --mono-font-family: 'Noto Sans Mono', monospace, Courier;
    
    /* small text attributes */
    --small-font-weight: 300;
    --small-font-size: 0.3em;
    --small-font-letter-spacing: 4%;
    
    /* medium text attributes */
    --medium-font-weight: 400;
    --medium-font-size: 0.6em;
    --medium-margin-block: 0em;

    /* large text attributes */
    --large-font-family: 'Inter', Arial, Helvetica, sans-serif;
    --large-font-weight: 600;
    --large-font-size: 1.2em;
    --large-font-letter-spacing: 8%;

    /* extra large text attributes */
    --xl-font-family: 'Inter', Arial, Helvetica, sans-serif;
    --xl-font-weight: 700;
    --xl-font-size: 1.8em;
    --xl-font-letter-spacing: 27.5%;

    --mono-font-weight: 400;
    --mono-font-size: 0.9em;
    --mono-font-letter-spacing: 5%;

    /* Effects */
    --visibility-transition:
      max-height 33ms ease-in-out,
      opacity 50ms ease-in-out,
      visibility 0ms linear 50ms;

      --background-transition:
      background-color 0.4s ease-in-out;

      --filter-transition: filter 50ms ease-in-out;
}